[cartographer]
mcu: scanner
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
# x_offset: 0
#   Adjust for your cartographers offset from nozzle to middle of coil
# y_offset: 15
#   Adjust for your cartographers offset from nozzle to middle of coil
macro_prefix: carto
#   Alternate name to call commands. CARTO_TOUCH etc
travel_speed: 15
#   The speed of all travel moves (in mm/s).
probe_speed: 3
#   Speed (in mm/s) of the Z axis when probing.

[cartographer scan]
mesh_runs: 2
#    Number of passes to make during mesh scan.


[include eddy_tap_probe.cfg]

# perform tap to calibrate z offset (specific for each probe)

[gcode_macro _EDDY_TAP_PROBE_TOUCH]
description: Perform the Z calibration using the cartographer survey
gcode:
    {% if params.X is not defined or params.Y is not defined  %}
        { action_raise_error("Parameters X and Y are mandatory") }
    {% endif %}

    {% set touch_x = params.X|float %}
    {% set touch_y = params.Y|float %}
    {% set homing_travel_speed = printer["gcode_macro _USER_VARIABLES"].homing_travel_speed|float * 60 %}

    SAVE_GCODE_STATE NAME=_EDDY_TAP_PROBE_TOUCH

    #go to tap_location
    G90
    G0 X{touch_x} Y{touch_y} Z10 F{homing_travel_speed}

    RESTORE_GCODE_STATE NAME=_EDDY_TAP_PROBE_TOUCH
  
    #Calibrate probe
    CARTOGRAPHER_TOUCH_HOME
