# If the machine is equiped by a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak

# This file is very specific to AHT20/AHT21 sensors connected to the mainboard i2c interface


[gcode_macro _USER_VARIABLES]
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "Chamber"
gcode:


[temperature_sensor Chamber]
sensor_type: AHT2X
i2c_address: 56
